.banner{
    width: 85%;
    height: 300px;
}

.imagens{
    margin-left: 180px;
}

.met{
    height: 500px;
    margin-top: -550px;
    overflow: hidden;
    animation-play-state: paused;
}

.met:hover{
    height: 550px;
    animation-play-state: running;
    animation-name: met;
    animation-duration: 1s;

    animation-fill-mode: forwards;
}



.mewtwo{
    margin-left: 500px;
    margin-top:300px;
    height: 250px;
    overflow: hidden;
}

.mewtwo:hover{
    height: 300px;
}

.pik{
    position: absolute;
    margin-top:60px ;
    margin-left: 500px;
    height: 250px;
    overflow: hidden;
}

.pik:hover{
    height: 300px;
}

.form{
    position: absolute;
    margin-top: -550px;
    margin-left: 1350px;
    background-color: brown;
    color: rgba(38, 7, 101, 0.701);
    border-radius: 30px;
    width: 400px;
    height: 250px;
}

form{
    margin-right: 30px;
}

.input2{
    width: 10%;
    height: 30px;
    background-color: rgba(117, 163, 231, 0.81);
}


.input2:hover{
    background-color: rgb(117, 170, 235);
}

.input{
    width: 80%;
    height: 40px;
    background-color: rgba(117, 163, 231, 0.81);
    margin-top: 10px;
    margin-right: 10px;
}

.input:hover{
    background-color: rgb(117, 170, 235);
}

.anima{
    margin-left: 1350px;
    width: 450px;
    margin-top: -280px;
    filter: none;

}

.anima{
    animation-duration: 5s;
    animation-name: animar;
    animation-iteration-count: infinite;
}

@keyframes animar {
    from{
        filter:blur(10px) saturate(10%);
    }to{
        filter: blur(0px);
    }
    
}

p{
    position: absolute;
    margin-left: 1150px;
    margin-top: -150px;
}

hr{
    background-color: blue;
}

.menu{
    background-color: rgba(0, 2, 116, 0.295);
    width: 150px;
    border-radius: 50px;
    
}

a{
    text-decoration: overline;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: rgba(255, 0, 0, 0.486);
}

.sub{
    margin-left: 10px;
    width: 25px;
    height: 100px;
    display: none;
}

.sub:hover{
    display: block;
}

.menu .sub .a{
    margin-top: 10px;
    display: block;
    text-align: center;
    margin-left: -100px;
}

/**:active apertando**/
.drop:hover + .sub{
    display: block;
}

.menuimg{
    width: 35px;
    margin-left: 50px;
}